:root {
    --gray-900: #111;
    --gray-800: #222;
    --gray-700: #333;
    --gray-600: #555;
    --gray-500: #777;
    --gray-400: #999;
    --gray-300: #bbb;
    --gray-200: #ddd;
    --gray-100: #eee;
    --gray-50:  #f7f7f7;

    --color-bg: #fff;
    --color-surface: var(--gray-200);
    --color-border: var(--gray-400);

    --color-text: var(--gray-900);
    --color-text-muted: var(--gray-500);
    --color-text-invert: #fff;

    --color-cta: var(--gray-700);

    --header-height: 48px;
    --max-width: 1200px;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-text);

    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;

    height: var(--header-height);
    background-color: var(--color-surface);
    border-bottom: 1px solid var(--color-border);

    display: flex;
    align-items: center;
}

header nav {
    max-width: var(--max-width);
    margin: 0 auto;
    width: 100%;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

header nav ul li a {
    color: var(--gray-800);
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 1.5rem;
}

footer {
    background-color: var(--color-surface);
    border-top: 1px solid var(--color-border);
    color: var(--color-text-muted);
    padding: 1rem;
    text-align: center;
}

/* FORM */

form {
    display: flex;
    flex-direction: column;
    background-color: var(--color-surface);
    border: 1px solid var(--color-border);
    margin: .5rem 0;
    padding: .5rem;
    gap: .5rem;
}

.form-field {
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 0 .5rem;
    flex-wrap: wrap;
}

.form-field input {
    border: 1px solid var(--color-border);
    border-radius: 4px;
}

.form-field.has-error input {
    margin-right: 1.8rem;
    border-color: #c44;
    background-color: #fdf6f6;
}

.form-field.has-error::after {
    content: '!';
    position: absolute;
    top: 0.6rem;
    right: 0;
    transform: translateY(-50%);

    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;

    text-align: center;
    font-weight: bold;
    font-size: 0.6rem;

    color: #fff;
    background-color: #c44;
    border-radius: 50%;

    pointer-events: none;
}

.form-field.has-error .input-errors {
    margin: 0.4rem 0 0;
    padding-left: 0;
    list-style: none;
    font-size: 0.85rem;
    color: #c44;
    flex-basis: 100%;
}

.form-field.has-error .input-errors li {
    line-height: 1.3;
}